---
import Card from '../Card.astro'
---
<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Anubhav, a DevSecOps Engineer and Cybersecurity Expert from India 🇮🇳.
      <br />
      <br />
      My primary tools and areas of expertise include:
      <ul class="list-inside list-disc">
        <li>Rust</li>
        <li>Python</li>
        <li>SIEM</li>
        <li>Bash Scripting</li>
        <li>Threat Management</li>
        <li>Cloud Security</li>
        <li>Incident Response</li>
        <li>Network Security</li>
        <li>Vulnerability Managemnt</li>
      </ul>
    </p>

  </div>
</Card>