---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---
<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="mb-2 flex w-full items-start justify-between">
    <div class="flex flex-col">
      <h2>Now</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="cursor-pointer text-xs text-gray-500">what's that ?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Currently working as a DevSecOps Engineer at Atcults Pvt. Ltd.</p>
  <ul class="mt-2 list-disc text-xs">
    <li>Integrating automated security testing in CI/CD pipelines</li>
    <li>Developing open-source cybersecurity tools</li>
    <li>Pursuing BTech in Cyber/Computer Forensics at Parul University</li>
    <li>Writing articles on cybersecurity trends on Medium</li>
  </ul>
</Card>